<div class="container">
    <h2>About EventsApp</h2>
    <p>
        This application allows you to create your sporting events and participate in the events available to you.
    </p>
    {{#link-to "contact" class="button"}}
        Contact Us
    {{/link-to}}        
</div>

{{outlet}}