<div>
    <div class="header menu">
        <div class="container">
            {{#link-to "index" class="menu-index"}}
                <h1>
                    <em>AllEvents</em>
                </h1>
            {{/link-to}}    
            {{#link-to "about" class="menu-about"}}
                About
            {{/link-to}}            
            {{#link-to "contact" class="menu-contact"}}
                Contact
            {{/link-to}}
        </div>
    </div>
    <div class="body container">
        {{outlet}} 
    </div>
</div>

